@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* This imports all of Tailwind in v4 */
@import "tailwindcss";

/* 
  NEW V4 THEME ENGINE:
  This creates our custom utilities like font-arcade, text-neon-green, bg-neon-pink
*/
@theme {
	--font-arcade: "Press Start 2P", cursive;

	--color-neon-green: #39ff14;
	--color-neon-pink: #ff00ff;
	--color-neon-blue: #0ff;
}

body {
	background-color: #050505;
	color: #fff;
	margin: 0;
	overflow: hidden;
}

/* Retro CRT TV Effect */
.crt::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background:
		linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
		linear-gradient(
			90deg,
			rgba(255, 0, 0, 0.06),
			rgba(0, 255, 0, 0.02),
			rgba(0, 0, 255, 0.06)
		);
	z-index: 2;
	background-size:
		100% 2px,
		3px 100%;
	pointer-events: none;
}
